@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-neutral;
    font-family: "Poppins", sans-serif;
  }
  p,
  ul {
    @apply mt-2;
  }
}

@layer components {
  .btn {
    @apply text-primary text-base font-semibold justify-self-end border-2 border-primary rounded-full px-5 lg:text-base hover:bg-primary hover:text-white ani;
  }

  .btn2 {
    @apply text-white bg-primary text-sm font-semibold justify-self-end border-2 border-primary rounded-full px-5 lg:text-base hover:bg-neutral hover:text-primary ani;
  }

  .ctn {
    @apply container mx-auto px-4 xl:px-20;
  }

  .subtitle {
    @apply text-4xl font-bold text-primary;
  }

  .inner-shadow {
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.1);
  }

  .ani {
    @apply transform transition-all duration-300;
  }

  .minHeight {
    min-height: calc(100vh - 150px);
  }

  .news h3 {
    @apply text-xl mb-2 font-bold;
  }

  .news blockquote {
    @apply italic text-sm my-2 border-4 border-neutral_var p-6 rounded-2xl;
  }

  .feature ul {
    @apply list-disc list-inside;
  }
}
